/* Reset básico */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Trirong", serif;
  min-height: 100vh;   
  width: 100%;
}
.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Estilos dos temas */
.standard {
  background-image: linear-gradient(100deg, #575656, #062e3f);
  color: #ffdfdb;
  transition: 0.3s linear;
  
}

.light {
  background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
  color: #1a150e;
  transition: 0.3s linear;
}

.darker {
  background-image: linear-gradient(100deg, #001214, #001f29);
  color: white;
  transition: 0.3s linear;
  
}

.light #header h1:last-of-type {
  color: #1a150e; /* Cor do texto [welcome] para o tema light */
}

#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  min-height: 25vh;
  width: 100%;
}

/*icone */
.left-section {
  position: absolute; /* Posiciona o ícone na borda esquerda */
  left: 0;
  display: flex;
  align-items: center;
  margin: 0 50px;
  font-size: 20px;
}

.login-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
  padding: 10px;
}

.login-button i {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

/* Botões de seleção de tema */
.flexrow-container {
  align-items: center;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  margin-right: 3%;
}

.theme-selector {
  border: 1px solid #d1dae3;
  border-radius: 100%;
  height: 35px;
  margin: 0 8px;
  transition: transform 150ms ease-in-out, box-shadow 200ms ease-in-out;
  width: 35px;
}

.theme-selector:hover { 
  box-shadow: white 0 0 5px;
  cursor: pointer;
}

.theme-selector:active {
  transform: scale(0.95);
}

/* imagens das bolinhas*/
.standard-theme {
  background-image: linear-gradient(100deg, #575656, #062e3f);
}

.light-theme {
  background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
}

.darker-theme {
  background-image: linear-gradient(100deg, #001214, #001f29);
}



/* Animação do título */
#title {
  border-right: solid 3px rgba(0, 0, 0, 0.75);
  white-space: pre;
  overflow: hidden;
  letter-spacing: 0.20rem;
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 480px;
}

/* Animação padrão */
#title {
  animation: animated-text 2s steps(11, end) 0.5s 1 normal both, 
             animated-cursor 750ms steps(11, end) infinite;
}

#title.darker-title {
  animation: animated-text 2s steps(11, end) 0.5s 1 normal both, 
             darker-animated-cursor 750ms steps(11, end) infinite;
}

/* Animação do texto */
@keyframes animated-text {
  from { width: 0%; }
  to { width: 480px; }
}

/* Animação do cursor */
@keyframes animated-cursor {
  from { border-right-color: rgba(0, 0, 0, 0.75); }
  to { border-right-color: transparent; }
}

@keyframes darker-animated-cursor {
  from { border-right-color: #01394c; }
  to { border-right-color: transparent; }
}

#tarefaConteudo {
  max-width: 100%;
  overflow-x: hidden;
}


/* Responsive design */
@media only screen and (max-width: 1000px) {
  

  body {
    width: 100%;
  }
  .theme-selector {
    margin: 5px; /* Reduz o espaçamento entre os botões */
  }
  #header{
   
  }

}


@media only screen and (max-width: 400px) {
    #header {
        font-size: 1.5rem;
    }

    #title {
        animation: 
            animated-text 3.5s steps(16,end) 0.5s 1 normal both,
            animated-cursor 750ms steps(16,end) infinite;
        max-width: 255px;
    }
}


/*Modal*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1000;
}

.modal_x {
  position: relative;
  background: #062e3f;
  padding: 20px;
  border-radius: 8px;
  max-width: 250px;
  width: 100%;
  z-index: 1001;
  top: 60px; /* Ajuste a distância do topo */
  left: 60px; /* Mesmo valor do margin-left do ícone do usuário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}


/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estiliza os botões dentro do modal */
.modal_x button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  background-color:#1e353f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.modal_x button:hover {
  background-color:  #393e41;
}

/* Ajuste para o botão de logout */
.modal_x button:last-child {
  background-color: #1e353f;
}

.modal_x button:last-child:hover {
  background-color: rgb(145, 139, 128);
}

/* Estiliza o nome do usuário */
.modal_x p {
  margin-bottom: 5px;
  font-size: small;
}

.userConta{
  text-align: justify;
}

/* Responsividade */
@media (max-width: 480px) {
  .modal_x {
    width: 90%;
  }
}


/* Garante que o modal tenha posição relativa */
.modal_x {
  position: relative; 
}

/*modal conta*/
.modal_x:last-child {
 color: white;
}

.modal_x:last-child h2 {
  
    margin-top: 1px; 
    flex-grow: 1; 
    padding-right: 32px; 
    text-align: center; 
    text-transform: uppercase; 
    color: #71717A; 
    font-size: 0.75rem; 

 }

 .modal_x:last-child .divConta{
  display: flex; /* flex */
    align-items: center; /* items-center */
    padding-bottom: 1rem; /* pb-4 */
 }

 .modal_x:last-child .back-button {
  position: relative; /* relative */
  display: flex; /* flex */
  align-items: center; /* items-center */
  color: white; /* text-foreground-800 */
  fill: #2D3748; /* fill-foreground-800 */
  background-color: transparent; /* bg-transparent */
  font-size: 0.75rem; /* text-xs */
  justify-content: center; /* justify-center */
  width: 2rem; /* size-8 */
  height: 2rem; /* size-8 */
  border-radius: 0.5rem; /* rounded-lg */
}


.modal_x:last-child .back-button:hover{

  background-color: rgba(0, 0, 0, 0.05); 
}


/* fim modal conta*/

/*modal 2*/
.modal_x:last-child .update-name-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--foreground-800);
  fill: var(--foreground-800);
  background-color: transparent;
  font-size: 0.875rem; 
  min-height: 2.5rem; 
  min-width: 2.5rem; 
  padding: 0.5rem 0.75rem; 
  gap: 0.5rem; 
  border-radius: 0.75rem; 
  outline-width: 2px;
  outline-offset: 1px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.modal_x:last-child .update-name-button:hover {
  background-color: rgba(0, 0, 0, 0.05); 
}

.modal_x:last-child .update-name-button:active {
  background-color: rgba(0, 0, 0, 0.03); 
  color: var(--foreground-600);
  fill: var(--foreground-600);
}

.modal_x:last-child .update-name-button.dark:active {
  color: var(--foreground-650);
  fill: var(--foreground-650);
  background-color: rgba(255, 255, 255, 0.05); /* dark:active:bg-white/5 */
}

.modal_x:last-child .update-name-button::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border: 2px solid transparent;
  border-radius: 0.75rem;
}

.modal_x:last-child .name-label {
  margin-top: 1px; /* mt-px */
  text-transform: uppercase;
  text-align: end;
  font-size: 0.7rem; 
  color: #6b7280; 
}

.modal_x:last-child .dark .name-label {
  color: #cbd5e1; /* dark:text-slate-350 */
}



/* section delete*/
.modal_x:last-child .del-section {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  gap: 0.5rem; /* gap-2 */
  padding: 1rem; /* p-3 */
  
  
}

.modal_x:last-child .del-title {
  font-size: 0.875rem; /* text-sm */
  
}

.modal_x:last-child .del-text {
  color: wheat;
  font-size: 0.75rem; /* text-foreground-700 */
  
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
    word-spacing: -0.5px;
    
}



.modal_x:last-child .delete-account-button {
  all: unset;
  padding-left: 0.25rem; /* pl-1 */
  color: #E53E3E; /* text-system-red-550 */
  display: inline;
  background-color: transparent;
  cursor: pointer;
  
  
}

.modal_x:last-child .delete-account-button:hover {
   /* dark:text-system-red-350 */
  background-color: transparent;
  cursor: default;
  pointer-events: none;
}
