.signup-container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.signup-container h2 {
  margin-bottom: 20px;
}

.signup-container form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.signup-container form input:focus {
  border-color: #007bff;
}

.signup-container form input.input-error {
  border-color: #ff4d4f; /* Cor de erro */
  animation: shake 0.3s ease; /* Aplica a animação de vibrar */
}

.signup-container form .password-container {
  position: relative;
}

.signup-container form .password-container input {
  width: calc(100% - 80px); /* Deixa espaço para o botão */
  display: inline-block;
}

.signup-container form .password-container .toggle-password {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
}

.signup-container form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signup-container form button:hover {
  background-color: #0056b3;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
